.blind{ margin: -1px; clip: rect(0,0,0,0); position: absolute; width: 1px; height: 1px; overflow: hidden; }
.inner{ max-width: 1920px; padding: 0 5vw; margin: 0 auto; }


/* 깜빡거리는효과 */
@keyframes blink-effect{ 50%{ opacity: 0; } }
.blink{ animation: blink-effect 1s step-end infinite; }

/* 프로그레스 서클 */
.circle{ position: fixed; bottom: 76px; right: 48px; z-index: 9; opacity: 0;}
.circle .circle_progress { transform: rotate(-90deg); }
.circle .circle_progress .frame,.circle .circle_progress .bar { fill: none; }
.circle .circle_progress .frame { stroke: rgba(255,255,255,0.5); }
.circle .circle_progress .bar { stroke: #fff; stroke-linecap: round; stroke-dasharray: 339.292; stroke-dashoffset: 339.292; }
.circle .btn-gotop{ position: fixed; display: flex; align-items: center; justify-content: center; bottom: 76px; right: 48px; width: 35px; height: 35px; overflow: hidden; }
.circle .btn-gotop svg path{ fill: #fff; }
.circle .btn-gotop svg{ position: absolute; top: 100%; transition: top .3s;}
.circle .btn-gotop:hover svg{ top: 15%; }

/* 스크롤바 */
::-webkit-scrollbar{
    display: none;
    width: 8px;
}
::-webkit-scrollbar-thumb{
    position: absolute;
    top: 0; left: 0;
    height: 20px;
    background: #333;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0);
}