@import './fonts.css';
@import './reset.css';
@import './common.css';

.wrapper{min-width: 320px; overflow-x: hidden;}

/* header */
.header{ position: fixed; top: 0; left: 0; display: flex; justify-content: space-between; align-items: center; margin: 0 auto; padding: 30px 3vw; width: 100%; z-index: 99; mix-blend-mode: difference;}
.header .logo a{position: relative; z-index: 99; display: block; font-size: 30px; font-family: "Lobster";}
.header .gnb-toggle{position: relative; z-index: 99; width: 25px; height: 45px; }


/* 햄버거바 */
.header .gnb-toggle span{position: relative; display: block; top: 0; margin: 5px auto; height: 2px; background: #fff; }
.header .gnb-toggle.open span:nth-child(1){animation-name: open1; animation-duration: 1s; animation-fill-mode: forwards;}
.header .gnb-toggle.open span:nth-child(2){animation-name: open2; animation-duration: 1s; animation-fill-mode: forwards;}
.header .gnb-toggle.close span:nth-child(1){animation-name: close1; animation-duration: 1s; animation-fill-mode: forwards;}
.header .gnb-toggle.close span:nth-child(2){animation-name: close2; animation-duration: 1s; animation-fill-mode: forwards;}

@keyframes open1{
    0%{ opacity: 1; top: 0; left: 0; transform: rotate(0) scaleX(1); transform-origin: left center; }
    30%{ opacity: 1; top: 0; left: 0; transform: rotate(0) scaleX(0); }
    30.1%{ opacity: 0; top: 0; left: 0; transform: rotate(0) scaleX(0); }
    31%{ opacity: 1; top: -5px; left: 3px; transform: rotate(45deg) scaleX(0); }
    80%,100%{ opacity: 1; top: -5px; left: 3px; transform: rotate(45deg) scaleX(1); transform-origin: left center; }
}
@keyframes open2{
    0%{ opacity: 1; top: 0; left: 0; transform: rotate(0) scaleX(1); transform-origin: right center; }
    50%{ opacity: 1; top: 0; left: 0; transform: rotate(0) scaleX(0); }
    50.1%{ opacity: 0; top: 0; left: 0; transform: rotate(0) scaleX(0); }
    51%,55%{ opacity: 1; top: -12px; left: -4px; transform: rotate(-45deg) scaleX(0); }
    100%{ opacity: 1; top: -12px; left: -4px; transform: rotate(-45deg) scaleX(1); transform-origin: right center; }
}

@keyframes close1{
    0%{ transform:rotate(45deg); top: 1px; left: 2px;}
    10%{ transform:rotate(25deg); top: 2.5px; left: 0px;}
    60%{ transform:rotate(0deg); top: 2.5px; left: 0px;}
    100%{ transform: translateY(0) rotate(0);}
}
@keyframes close2{
    0%{ transform:rotate(-45deg); top: -8px; left: -3px;}
    10%{ transform:rotate(-25deg); top: -2.5px; left: 0px;}
    60%{ transform:rotate(0deg); top: -2.5px; left: 0px;}
    100%{ transform: translateY(0) rotate(0); }
}


/* aside */
.gnb-area{ position: fixed; display: flex; visibility: hidden; opacity: 0; transition: .3s; z-index: 10; mix-blend-mode: normal;}
.gnb-area.show{ visibility: visible; opacity: 1; transition: .3s; }
.gnb-area .dimmed{ width: 100%; height: 100%; overflow: hidden; } 
.gnb-area .dimmed{ position: fixed; opacity: 0; top: 0; right: 0; bottom: 0; left: 0; z-index: 30; background: rgba(0, 0, 0, 0.8); }
.gnb-area.show .dimmed{ opacity: 1; }
.gnb-area .nav-wrap{ position: fixed; display: flex; align-items: center; justify-content: center; width: 42vw; top: 0; right: 0; z-index: 99; height: 100vh; background: #fff; color: #000; transform: translateX(100%); transition: transform .3s; }
.gnb-area.show .nav-wrap{ transform: translateX(0); transition: transform .3s; }
.gnb-area li{position: relative; overflow: hidden; margin-top: 20px; font-size: 4vw; text-transform: uppercase;}
.gnb-area li span{ display: block; transition: transform 1.2s cubic-bezier(.19,1,.22,1); }
.gnb-area li:hover span{ transform: translateY(-100%); }
.gnb-area li span:last-child{ position: absolute; top: 100%; }
.gnb-area a:hover span{color: #e0fd60;}
.gnb-area address{ font-size: 16px; color: rgba(0, 0, 0, .3); margin-top: 70px; }
.gnb-area address a{ position: relative; padding-bottom: 5px; color: #000; }
.gnb-area address a::before,
.gnb-area address a::after{ content: ""; display: block; position: absolute; left: 0; right: 0; bottom: 0; height: 1px; background: rgba(0, 0, 0, .3); }
.gnb-area address a::after{ background: #000; transform: scaleX(0); transition: transform .8s; }
.gnb-area address a:hover::after{ transform: scaleX(1); }


/* footer */
.footer{ display: flex; justify-content: space-between; align-items: center; background: #fff; color: #000; padding: 16px 32px; margin: 0 auto; width: calc(100% - 96px); border-radius: 16px 16px 0 0; }
.footer a{ display: flex; gap: 8px; overflow: hidden; align-items: center;}
.footer a img{ transform: translateY(2rem); transition: .3s;}
.footer .copyright br{display: none;}


/* 미디어쿼리 */
@media (max-width:768px){
    .header .logo a{font-size: 28px;}
    .gnb-area .nav-wrap{width: 48vw;}
    .gnb-area li{font-size: 5vw;}
    .gnb-area address{font-size: 1.8vw;}

    .footer{width: calc(100% - 5vw); padding: 2vw 4vw;}
    .footer a{align-items: flex-end; gap: 0.5vw;}
    .footer a img{width: 18px; height: 18px;}
}

@media (max-width:520px){
    .header{padding: 30px 5vw;}
    .gnb-area .nav-wrap{width: 100%;}
    .gnb-area li{font-size: 10vw;}
    .gnb-area address{font-size: 16px; margin-top: 50px;}

    .footer{flex-direction: column; width: calc(100% - 10vw); padding: 4vw; text-align: center; gap: 15px;}
    .footer a img{transform: translateY(0rem);}
    .footer .copyright br{display: block;}
}