/* sc-visual */
.sc-visual{display: flex; position: relative; height: 100vh; align-items: center; min-height: 57rem; font-size: 11.5vw; padding: 0vw 6vw;}
.sc-visual .intro-area{display: flex; flex-direction: column; line-height:110%;}
.sc-visual .intro-area em{ padding: 0.1em 0; margin: -0.1em 0; display: flex; align-items: center;}
.sc-visual .box-wrap{width: 46vw; position: relative; overflow: hidden; color: #e0fd60; margin-left: 30px; font-family: "Gallery Modern",sans-serif; font-size: 12vw; line-height: .9;}
.sc-visual .box-wrap .box-line{position: absolute; border: 2px solid #e0fd60; border-radius: 120px; height: 10vw; width: 46vw;}
.sc-visual .box-wrap .box-span{ border-radius: 120px; display: block; }
.sc-visual .box-wrap .box-span span{ display: block; padding: 0 3.4vw; transition: transform .8s cubic-bezier(.16,1,.3,1); height: 10vw; }
.sc-visual .box-wrap .box-span span:last-child{ position: absolute;}
.sc-visual .box-wrap .box-span:hover{background-color: #e0fd60; color: #000;}
.sc-visual .box-wrap .box-span:hover span{ transform: translateY(-100%); }
.sc-visual .detail-area{display: flex; justify-content: space-between; position: absolute; font-size: 1vw; bottom: 5vh; left: 3vw; width: 50%; text-transform: uppercase;}


/* sc-content */
.sc-content{ background: #fff; color: #000; }
.sc-content .group-content{ padding: 10vw 0; overflow: hidden; }
.sc-content .area1 .area-list{ display: flex; gap: 50px; will-change: transform; }
.sc-content .area1 .area-list li{ display: flex; gap: 30px; align-items: center; }
.sc-content .area1 .img-box{width: 7vw;}
.sc-content .area1 .title{ text-transform: uppercase; letter-spacing: -.03vw; font-size: 7vw; line-height: 85%; }
.sc-content .area1 .title em{ font-family: "Gallery Modern",sans-serif; }

.sc-content .area2{padding: 0 5vw;}
.sc-content .area2 .line{ position: relative; margin: 7vw 0 3vw; height: 1px; background: #000; }
.sc-content .area2 .text-wrap{ display: flex; justify-content: flex-end; }
.sc-content .area2 .text-box{ display: flex; gap: 30px; align-items: baseline; }
.sc-content .area2 .title{ font-size: 1vw;}
.sc-content .area2 .desc{ font-size: 1.6vw; line-height: 1.4; font-family: "pretendard", sans-serif; }


/* sc-project 공통*/
.sc-project{position: relative; line-height: 1; }
.sc-project .main-title{padding: 10vw 5vw;}
.sc-project .main-title em{text-transform: uppercase; font-size: 10vw; letter-spacing: -.02em;}
.sc-project .main-title em:first-child{font-family: "Gallery Modern",sans-serif;}


/* sc-project main*/
.sc-project.main{position: relative;}
.sc-project.main .area1{position: sticky; top: 0; height: 100vh;}
.sc-project.main .area2{position: sticky; top: 0; height: 100vh;}
.sc-project.main .area3{position: sticky; top: 0; height: 100vh;}
.sc-project.main .area3 .desc{max-width: 54vw; line-height: 1.2;}

.sc-project.main .video-wrap video{position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; object-fit: cover;}

.sc-project.main .content-wrap{position: absolute; bottom: 5vw; width: calc(100% - 10vw); left: 5vw; mix-blend-mode: difference;}
.sc-project.main .content-wrap .title{display: flex; align-items: baseline; font-size: 4vw; gap: 15px;}
.sc-project.main .content-wrap .title em{text-align: center; font-family: 'Black Han Sans', sans-serif;}
.sc-project.main .content-wrap .title span{font-size: 2vw;}
.sc-project.main .content-wrap .line{position: relative; margin: 1.5vw 0 1.5vw; height: 1px; background: #fff;}

.sc-project.main .desc-box{display: flex; justify-content: space-between; padding: 20px 0;}
.sc-project.main .box .desc{font-size: 1.4vw;}
.sc-project.main .box .tags{display: flex; gap: 0.6vw; margin-top: 20px; text-transform: capitalize; max-width: 54vw; flex-wrap: wrap; font-size: 0.8vw; }
.sc-project.main .box .tags span{border: 1px solid #fff; padding: 0.3vw 0.6vw; border-radius: 10px;}

.sc-project.main .link{display: flex; align-items: flex-end;}
.sc-project.main .link .link-btn{display: flex; gap: 25px; font-size: 1vw; font-family: "Matter",sans-serif;}
.sc-project.main .link .link-btn a{display: flex; align-items: center; gap: 10px; transition:transform .3s;}
.sc-project.main .link .link-btn a:hover{transform: translateX(10px);}
.sc-project.main .link .link-btn svg{ width: 14px; }
.sc-project.main .link .link-btn svg path{stroke: #fff;}


/* sc-project sub */
.sc-project.sub{ background: #fff; color: #000; padding-bottom: 10vw;}
.sc-project.sub .group-pc{padding: 0 5vw;}
.sc-project.sub .group-pc ul{ display: flex; align-items: flex-end; padding: 0 0 50px;}
.sc-project.sub .group-pc li{ width: 610px;}
.sc-project.sub .group-pc li .thumb-box{ position: relative; width: 610px; height: 330px; overflow: hidden; border-radius: 20px; }
.sc-project.sub .item img{ position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; transition: .3s; transform: scale(1.01); }
.sc-project.sub .item:nth-child(2) img,.sc-project.sub .item:nth-child(4) img{ object-fit: cover; background: #000; }
.sc-project.sub .item img:hover{ transform: scale(1); filter: opacity(.5); }
.sc-project.sub .item .title{ display: flex; justify-content: space-between; margin: 0 10px; margin-top: 40px; font-size: 22px; text-transform: capitalize; }
.sc-project.sub .item svg{ display: flex; align-items: center; width: 22px; transition: .3s; }
.sc-project.sub .item path{ fill: #000; }
.sc-project.sub .item svg:hover{ width: 24px; }
.sc-project.sub .item svg:hover path{ fill: #e0fd60; }

.sc-project.sub .group-pc .pagination{ background: #e5e5e5; width: 610px; height: 2px; left: 5vw; top: auto; bottom: 0; }
.sc-project.sub .group-pc .swiper-pagination-progressbar-fill{ background: #000; }

.sc-project.sub .group-mobile{display: none;}


/* sc-contact */
.sc-contact .contact-area .main-title{ display: flex; flex-direction: column; line-height: 1; padding: 10vw 5vw; }
.sc-contact .contact-area .main-title em{ font-family: "Gallery Modern",sans-serif; text-transform: capitalize; letter-spacing: -.02em; font-size: 10vw;}

.sc-contact .contact-area .contact-wrap{ display: flex; flex-direction: column; align-items: flex-start; font-weight: bold;}
.sc-contact .contact-wrap small{ font-size: 18px; text-transform: uppercase; padding: 50px 5vw; font-weight: 400; }
.sc-contact .contact-wrap .line{ border-bottom: 1px solid rgb(237, 237, 237,.2); width: 100%; }
.sc-contact .contact-wrap a{ display: block; position: relative; overflow: hidden; font-size: 2vw; text-transform: uppercase; width: 100%;}
.sc-contact .contact-wrap a:last-child{ margin-bottom: 15vw; }
.sc-contact .contact-wrap .con-line{ border-bottom: 1px solid rgb(237, 237, 237,.2); width: 100%; }

.sc-contact .contact-wrap .arrow svg{ width: 30px; height: 30px;}

.sc-contact .outer-box{ display: flex; align-items: center; justify-content: space-between; padding: 50px 5vw;}
.sc-contact .outer-box .arrow line{ stroke: #fff; }

.sc-contact .inner-box{ position: absolute; opacity: 0; top: 0; right: 0; left: 0; bottom: 0; background: #e0fd60; color: #000; pointer-events: none; overflow: hidden; transform: scaleY(0); }
.sc-contact:hover .inner-box{ transform: scaleY(1); transition: transform,opacity .4s; transition-duration: .4s; }
.sc-contact .inner-box .arrow line{ stroke: #000; }
.sc-contact .inner-box ul{ transition-timing-function: linear; }
.sc-contact .inner-box li{ display: flex; align-items: center; gap: 100px; }


.sc-contact .contact-wrap a.insta li{width: 323px;}
.sc-contact .contact-wrap a.github li{width: 255px;}
.sc-contact .contact-wrap a.velog li{width: 244px;}
.sc-contact .contact-wrap a.email li{width: 241px;}
.sc-contact .contact-wrap a.tel li{width: 248px;}



/* 미디어쿼리 */
@media (max-width:1024px){
    /* sc-visual */
    .sc-visual{min-height: 40rem; padding: 0vw 8vw;}
    
    /* sc-project main*/
    .sc-project.main .area .desc{max-width: 64vw; line-height: 1.4;}
    .sc-project.main .desc-box{padding: 10px 0;}
    .sc-project.main .desc-box .desc{font-size: 1.9vw;}
    .sc-project.main .desc-box .tags{margin-top: 15px; gap: 6px;}
    .sc-project.main .desc-box .tags span{padding: 2.5px 5px; font-size: 1.4vw;}
    .sc-project.main .desc-box .link-btn{gap: 20px; font-size: 1.6vw;}

    /* sc-project sub */
    .sc-project.sub .group-pc li{width: 50vw;}
    .sc-project.sub .group-pc li .thumb-box{width: 50vw; height: 30vw;}

    .sc-project.sub .group-pc .pagination{width: 50vw;}

    /* sc-contact */
    .sc-contact .contact-wrap a{font-size: 2.8vw;}
}
@media (max-width:768px){
    /* sc-visual */
    .sc-visual{min-height: 30rem;}
    .sc-visual .detail-area{ bottom: 3vh; font-size: 1.6vw;}

    /* sc-project main*/
    .sc-project.main .area .desc{max-width: none; font-size: 2.7vw;}
    .sc-project.main .content-wrap .title{font-size: 5vw;}
    .sc-project.main .desc-box{flex-direction: column;}
    .sc-project.main .desc-box .tags{max-width: none;}
    .sc-project.main .desc-box .tags span{padding: 0.5vw 1vw; font-size: 1.6vw;}
    .sc-project.main .desc-box .link-btn{font-size: 2vw; margin-top: 15px;}

    /* sc-project sub */
    .sc-project.sub .item .title{font-size: 3vw;}
    
    /* sc-contact */
    .sc-contact .contact-wrap small{padding: 3vw 5vw; font-size: 1vw;}
    .sc-contact .outer-box{padding: 3vw 5vw;}
    .sc-contact .contact-content a{font-size: 2.2vw;}
    .sc-contact .contact-wrap .arrow svg{width: 15px; height: 15px;}
    .sc-contact .inner-box li{gap: 7vw;}

    .sc-contact .contact-wrap a.insta li{width: 15vw;}
    .sc-contact .contact-wrap a.github li{width: 10vw;}
    .sc-contact .contact-wrap a.velog li{width: 10vw;}
    .sc-contact .contact-wrap a.email li{width: 10vw;}
    .sc-contact .contact-wrap a.tel li{width: 10vw;}  

    .circle{display: none;}
}
@media (max-width:520px){
    /* sc-visual */
    .sc-visual{font-size: 16vw; padding: 0 15px; position: relative; z-index: -1; min-height: 35rem;}
    .sc-visual .intro-area{gap: 10px;}
    .sc-visual .intro-area em{flex-direction: column; align-items: flex-start; gap: 5px; padding: 0.1em 0 0 0;}
    .sc-visual .box-wrap{margin-left: 0; width: 70vw; line-height: 0.97;}
    .sc-visual .box-wrap .box-line{width: 70vw; height: 16vw;}
    .sc-visual .box-wrap .box-span span{font-size: 18vw; padding: 0 5vw; height: 16vw;}
    .sc-visual .intro-area .blink{display: none;}
    .sc-visual .detail-area{ bottom: 3vh; font-size: 2.4vw;}

    /* sc-content */
    .sc-content{position: relative; z-index: -1;}
    .sc-content .group-content{padding: 20vw 0;}
    .sc-content .area1 .img-box{width: 18vw;}
    .sc-content .area1 .title{font-size: 18vw;}
    
    .sc-content .area2 .line{margin: 12vw 0;}
    .sc-content .area2 .text-wrap{justify-content: flex-start;}
    .sc-content .area2 .text-box{flex-direction: column; gap: 6vw; width: 100%; flex-wrap: wrap;}
    .sc-content .area2 .title{font-size: 3.5vw;}
    .sc-content .area2 .desc{font-size: 4.5vw;}
    .sc-content .area2 .desc div{display: inline;}

    /* sc-project 공통*/
    .sc-project .main-title{padding: 20vw 5vw;}
    .sc-project .main-title em{font-size: 16vw;}

    /* sc-project main*/
    .sc-project.main .area .desc{font-size: 4.6vw;}
    .sc-project.main .content-wrap{bottom: 15vw;}
    .sc-project.main .content-wrap .title{font-size: 10vw; gap: 10px;}
    .sc-project.main .content-wrap .title span{font-size: 5vw;}
    .sc-project.main .content-wrap .line{margin: 5vw 0 5vw;}
    .sc-project.main .desc-box{gap: 5vw;}
    .sc-project.main .box .tags{display: none; margin-top: 0;}
    .sc-project.main .link .link-btn{font-size: 3.5vw;}

    /* sc-project sub */
    .sc-project.sub .group-pc{display: none;}
    .sc-project.sub .group-mobile{display: block;}
    .sc-project.sub .group-mobile ul{display: flex; flex-direction: column; gap: 50px;}
    .sc-project.sub .group-mobile li{display: flex; flex-direction: column; text-transform: capitalize; gap: 30px;}
    .sc-project.sub .group-mobile .title{font-size: 5vw; display: flex; justify-content: space-between; padding: 0 5vw;}
    .sc-project.sub .group-mobile .thumb-box img{border-radius: 10px;}

    /* sc-contact */
    .sc-contact .contact-area .main-title{padding: 20vw 5vw 10vw;}
    .sc-contact .contact-area .main-title em{font-size: 16vw;}
    .sc-contact .contact-wrap small{font-size: 3.5vw;}
    .sc-contact .contact-wrap a{font-size: 4.8vw;}
    .sc-contact .contact-wrap .arrow svg{width: 20px; height: 20px;}
    .sc-contact .outer-box{padding: 8vw 5vw;}
    .sc-contact .inner-box{display: none;}

    .btn-gotop{opacity: 1;}
}